@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
              <!--  <div class="addthis_toolbox addthis_default_style" style="float:right;">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_pinterest_pinit"></a>
                    <a class="addthis_counter addthis_pill_style"></a>
                </div> -->
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53"></script>
            </p>
        </div>
    </section>
}

<ol class="round">
    <li class="one">
        <h5>Jim Rohn</h5>
        "If you are not willing to risk the usual, you will have to settle for the ordinary."
    </li>

    <li class="two">
        <h5> James Cameron</h5>
        "If you set your goals ridiculously high and it's a failure, you will fail above everyone else's success."
     <!--  <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a> --> 
    </li>

    <li class="three">
        <h5>Henry David Thoreau</h5>
        "Success usually comes to those who are too busy to be looking for it." 
   <!--   <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a> -->  
    </li>

     <li class="four">
        <h5>John Wooden</h5>
         "Things work out best for those who make the best of how things work out."
     <!--   <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a> -->  
    </li>

     <li class="five">
        <h5>Lisa M. Amos</h5>
         "Entrepreneurs average 3.8 failures before final success. What sets the successful ones apart is their amazing persistence."
    <!--    <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a> -->  
    </li>
</ol>
